<section class="content-section wf-section">
    <div class="container w-container">
      <div class="spacer-75"></div>
      <div id="w-node-_467fe8a4-2686-1fd6-4896-c244bb8eb80a-bddf45cc" class="content-block">
        <div class="div-block">
          <div>
            <p class="paragraph-7">{{ texts.-4b697217 }}<br><br>{{ texts.21732719 }}<br><br>{{ texts.-4ebb6df7 }}</p>
          </div>
        </div>
      </div>
      <div class="w-layout-grid content-grid hide">
        <div id="w-node-_467fe8a4-2686-1fd6-4896-c244bb8eb808-bddf45cc" class="w-layout-grid content-image-block">{%- image images.-3cbca8bd.url, images.-3cbca8bd.alt, '[]', 'loading="lazy" sym-bind="{"img":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"f2912f9a-fad9-15ae-f3ba-73ca5dca98aa"}}}" class="content-image"' -%}</div>
      </div>
      <div class="spacer-75"></div>
    </div>
  </section>