<section class="hero-section wf-section">
    <div class="w-layout-grid hero-grid">
      <div id="w-node-bdb07dd4-44f4-8b5c-c8bb-2b31d7771b07-afdf45ce" class="div-block-11">
        <div class="home-section-wrap">
          <h2 sym-bind="{&quot;children&quot;:{&quot;type&quot;:&quot;Select&quot;,&quot;val&quot;:{&quot;from&quot;:{&quot;type&quot;:&quot;Variable&quot;,&quot;val&quot;:&quot;data&quot;},&quot;prop&quot;:&quot;4392e198-890f-392c-bbd2-f5e7b46c8777&quot;}}}" class="section-heading">{{ texts.7f2746de }}</h2>
          <div class="div-block">
            <div>
              <div class="side-line white"></div>
            </div>
            <div>
              <p class="tab-content-paragraph">{{ texts.48117213 }}<br><br>{{ texts.-49200542 }}</p>
            </div>
          </div>
        </div>
      </div>{%- image images.-55ca6be5.url, images.-55ca6be5.alt, '[{"max":479,"size":"100vw"},{"max":10000,"size":"90vw"}]', 'id="w-node-bdb07dd4-44f4-8b5c-c8bb-2b31d7771b16-afdf45ce" class="image"' -%}
    </div>
  </section>