<div data-w-id="b68d8c5c-b818-bbbe-c93a-343c505274ac" class="loading-screen wf-section">
    <div class="loading-container">
      <div class="image-block">{%- image images.-58b0e6b3.url, images.-58b0e6b3.alt, '[{"max":10000,"size":"100vw"}]', 'loading="lazy"' -%}</div>
      <div class="name-block">{%- image images.-356d15a0.url, images.-356d15a0.alt, '[{"max":10000,"size":"100vw"}]', 'loading="lazy"' -%}</div>
    </div>
  </div>