<div data-w-id="b68d8c5c-b818-bbbe-c93a-343c505274ac" class="loading-screen wf-section">
    <div class="loading-container">
      <div class="image-block"><img src="/assets/images/c9f41c65-200.png" alt="" loading="lazy" decoding="async"></div>
      <div class="name-block"><img src="/assets/images/4ada6e5c-401.png" alt="" loading="lazy" decoding="async"></div>
      </div>
  </div>